body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  resize: none;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:link:active {
  color: #000;
}	

a:visited:active {
  color: #000;
}	

.page {
  background-color: #B4C9C8;
}

.header {
  height: 90px;
  background-color: #FFF;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.headerText {
  font-size: 24px;
}

.githubText {
  font-weight: bold;
  font-size: 18px;
  padding-left: 10px;

}

.githubLink {
  display: flex;
  align-items: center;
}

.footer {
  height: 45px;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.kadiLink {
  text-decoration: underline;
  padding-left: 5px;
}

.instructions {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.instructionLine {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.instructionLine:last-child{
  margin-bottom: 0;
}

.inlineCopy {
  padding-left: 5px;
  padding-right: 5px;
}

.copyContainer {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  max-width: 1024px;
  margin: 0 auto;
}

.copyWrapper {
  height: 50px;
  width: 50px;
  border-radius: 12px;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.editor {
  background-color: #FFF;
  padding: 30px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 4px solid #4A5899;
  cursor: text;
  height: 500px;
}

.markdownEditor {
  border-color: #4A5899;
  width: calc(100% - 68px);
}

.draftjsEditor {
  border-color: #559CAD;
}

.half {
  width: 50%;
  margin: 20px;
}

.editors {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.editorHeading {
  height: 55px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: 0;
}

.markdownEditorHeading {
  background-color: #4A5899;
}

.draftEditorHeading {
  background-color: #559CAD;
}